@use '../utils/variables';

.button {

  text-transform: uppercase;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: white;

  background-color: variables.$color-high-primary;

  padding: 22px 46px;

  &--outline {
    background-color: transparent;
    border: 1px solid variables.$color-secondary;
  }
}