@use '../utils/mixins';
@use '../utils/variables';

.contact-block {

  &__item {
    margin-bottom: 60px;


    position: relative;


    &:last-child {
      margin-bottom: 0px;
    }

    @include mixins.flexbox(row, nowrap, flex-start, 22px);

    &--contact-page {
      padding: 52px 12px 57px;
      margin-bottom: 47px;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;

    &--mail {
      background-image: url('/svg/mail.svg');
    }

    &--map {
      background-image: url('/svg/map.svg');

    }

    &--phone {
      background-image: url('/svg/phone.svg');

    }
  }

  &__item-title {
    font-family: variables.$font-title;
    font-size: 20px;
    line-height: 20px;

    display: block;

    &--contact-page {
      margin-bottom: 25px;
    }
  }

  &__item-subtitle {
    font-size: 14px;
    line-height: 14px;
    color: variables.$color-secondary;

    &--contact-page {
      display: block;
      margin-bottom: 5px;
    }
  }

  &__number {
    font-family: 'roboto';
    font-size: 200px;
    font-weight: 700;
    line-height: 234px;
    letter-spacing: -6px;
    color: variables.$color-light;

    position: absolute;
    top: 0;
    right: 30px;
    z-index: -1;
  }

  &__image {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: variables.$bg-light;

    margin-bottom: 20px;

  }
}