@use '../utils/variables';

.restaurant-card {

  box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);

  &__image {
    width: 295px;
    height: 232px;
    background-color: variables.$bg-light;

    margin-bottom: 32px;
  }

  &__h2 {
    margin-bottom: 26px;
  }

  &__h3 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1.05px;

    margin-bottom: 26px;
  }

  &__p {
    margin-bottom: 16px;
  }

  &__button {
    box-shadow: 0px 14px 24px rgba(190, 173, 142, 0.36);
  }
}