@use '../utils/mixins';
@use '../utils/variables';

.slider {
  height: 377px;
  @include mixins.flexbox(column, nowrap, flex-end, 0px);


  &__dots-container {
    width: 77px;
    height: 7px;

    margin: 0 auto;
    @include mixins.flexbox(row, nowrap, space-between, 0px);
    position: relative;

  }

  &__dot {
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background-color: variables.$color-high-secondary;

    &--active {
      background-color: variables.$color-primary;
    }
  }
}