@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&family=Roboto:wght@400;600;700&family=Old+Standard+TT&display=swap");
/*
    RESET
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote::before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

input[type=date]::-webkit-calendar-picker-indicator {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background: 0 0;
  margin: 0;
  opacity: 0;
  pointer-events: auto;
}

textarea:focus,
input:focus,
input[type]:focus {
  outline: 0 none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: block;
  fill: currentColor;
  pointer-events: none;
}

body {
  font-family: "Archivo", "Roboto";
  font-size: 14px;
  line-height: 24px;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  min-width: 320px;
  max-width: 960px;
}

.h1 {
  text-transform: capitalize;
  font-family: "Old Standard TT";
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
}

.h2 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.8px;
  color: #777777;
}

.h3 {
  text-transform: capitalize;
  font-family: "Old Standard TT";
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
}

.h4 {
  text-transform: capitalize;
  font-family: "Old Standard TT";
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
}

.wrapper-x {
  margin-left: 52px;
  margin-right: 52px;
}

.header {
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  padding: 17px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 10px;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  gap: 28px;
  align-items: center;
}
.header__icon {
  width: 20px;
  height: 20px;
}
.header__icon--login {
  background-image: url("/svg/loginIcon.svg");
}
.header__icon--search {
  background-image: url("/svg/search.svg");
}
.header__menu {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29), inset 0px 3px 6px rgba(0, 0, 0, 0.29);
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
}
.header__menu-btn {
  width: 20px;
  height: 13px;
  margin-right: 32px;
  background-image: url("/svg/menubtn.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.header__menu-btn--close {
  background-image: url("/svg/close.svg");
}

.footer {
  font-size: 16px;
  line-height: 26px;
  background-image: url("/svg/bgFooter.svg");
  padding: 32px 0 0;
}
.footer__block {
  margin: 0 22px 40px;
}
.footer__description {
  color: #777777;
}
.footer__title {
  font-family: "Old Standard TT";
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 24px;
}

.section {
  margin-bottom: 60px;
}
.section--justified {
  text-align: center;
}
.section--dark {
  background-color: #222222;
  color: white;
}
.section__h2 {
  margin-bottom: 32px;
}
.section__h2--justified {
  margin-bottom: 24px;
}
.section__h2--dark {
  color: #BDAC8D;
}
.section__h3 {
  margin-bottom: 16px;
}
.section__p {
  color: #777777;
  margin-bottom: 24px;
}
.section__p--dark {
  color: #c2c2c2;
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}
.logo--footer {
  gap: 28px;
  margin: 0 0 47px 22px;
}
.logo__img {
  width: 36px;
  height: 36px;
  background-image: url("/svg/H.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}
.logo__img--footer {
  width: 80px;
  height: 80px;
  background-color: #BDAC8D;
  background-image: url("/svg/Hwhite.svg");
}
.logo__name {
  width: 61px;
  height: 21px;
  background-image: url("/svg/HotelMiranda.svg");
}
.logo__name--footer {
  width: 137px;
  height: 56px;
  background-image: url("/svg/HotelMirandaBig.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: white;
  background-color: #BEAD8E;
  padding: 22px 46px;
}
.button--outline {
  background-color: transparent;
  border: 1px solid #777777;
}

.nav__li {
  padding: 12px;
}
.nav__li:first-child {
  padding-top: 32px;
}
.nav__li:last-child {
  padding-bottom: 26px;
}
.nav__a {
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
}

.card {
  width: 270px;
  height: 300px;
  box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
  padding: 54px 0 38px 0;
  margin: 0 auto;
  position: relative;
}
.card--image {
  background-color: #777777;
}
.card--dark {
  background-color: #222222;
  color: white;
}
.card__bg-image {
  width: 144px;
  height: 106px;
  position: absolute;
  right: 0;
  top: 54px;
  z-index: -1;
}
.card__icon {
  width: 68px;
  height: 52px;
  background-repeat: no-repeat;
  margin: 0 auto 30px auto;
}
.card__h4 {
  margin-bottom: 21px;
}
.card__p {
  max-width: 200px;
  line-height: 22px;
  margin: 0 auto;
}

.carousel {
  width: 100%;
  height: 65vw;
  background-color: #777777;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}
.carousel__button {
  width: 32px;
  height: 32px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  position: absolute;
  top: calc(32.5vw - 16px);
}
.carousel__button--prev {
  background-image: url("/svg/prev.svg");
  left: 15px;
}
.carousel__button--prev-active {
  background-color: #BDAC8D;
  background-image: url("/svg/prev-active.svg");
  left: 15px;
}
.carousel__button--next {
  background-image: url("/svg/next.svg");
  right: 15px;
}
.carousel__button--next-active {
  background-color: #BDAC8D;
  background-image: url("/svg/next-active.svg");
  right: 15px;
}

.icon-bar {
  width: 256px;
  height: 40px;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
  margin: 0 auto -20px auto;
  padding: 16px 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0px;
  position: relative;
}
.icon-bar__icon {
  width: 14px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
}
.icon-bar__icon--ac {
  background-image: url("/svg/icon-bar/ac.svg");
}
.icon-bar__icon--bar {
  background-image: url("/svg/icon-bar/bar.svg");
}
.icon-bar__icon--bed {
  background-image: url("/svg/icon-bar/bed.svg");
}
.icon-bar__icon--car {
  background-image: url("/svg/icon-bar/car.svg");
}
.icon-bar__icon--gym {
  background-image: url("/svg/icon-bar/gym.svg");
}
.icon-bar__icon--nosmoke {
  background-image: url("/svg/icon-bar/nosmoke.svg");
}
.icon-bar__icon--wifi {
  background-image: url("/svg/icon-bar/wifi.svg");
}

.social-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 10px;
}
.social-row__a {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.social-row__a:hover {
  background-color: #BDAC8D;
}
.social-row__a--be {
  background-image: url("/svg/social/be-icon.svg");
}
.social-row__a--be:hover {
  background-image: url("/svg/social/be-icon-white.svg");
}
.social-row__a--fb {
  background-image: url("/svg/social/fb-icon.svg");
}
.social-row__a--fb:hover {
  background-image: url("/svg/social/fb-icon-white.svg");
}
.social-row__a--in {
  background-image: url("/svg/social/in-icon.svg");
}
.social-row__a--in:hover {
  background-image: url("/svg/social/in-icon-white.svg");
}
.social-row__a--tw {
  background-image: url("/svg/social/tw-icon.svg");
}
.social-row__a--tw:hover {
  background-image: url("/svg/social/tw-icon-white.svg");
}
.social-row__a--yt {
  background-image: url("/svg/social/yt-icon.svg");
}
.social-row__a--yt:hover {
  background-image: url("/svg/social/yt-icon-white.svg");
}

.price {
  font-weight: 700;
  line-height: 43px;
  color: #BDAC8D;
}
.price__amount {
  font-size: 32px;
}
.price__night {
  font-size: 13px;
}

.video--square {
  width: 335px;
  height: 270px;
  background-color: white;
  margin-bottom: 36px;
}

.feature {
  height: 360px;
  min-width: 375px;
  text-align: start;
  padding: 81px 38px;
  position: absolute;
  right: 375px;
}
.feature--active {
  right: 0;
}
.feature__icon {
  width: 72px;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 38px;
  position: relative;
}
.feature__icon--one {
  background-image: url("/svg/features/icon-1.svg");
}
.feature__icon--two {
  background-image: url("/svg/features/icon-2.svg");
}
.feature__icon--three {
  background-image: url("/svg/features/icon-3.svg");
}
.feature__icon--four {
  background-image: url("/svg/features/icon-4.svg");
}
.feature__icon--five {
  background-image: url("/svg/features/icon-5.svg");
}
.feature__icon--six {
  background-image: url("/svg/features/icon-6.svg");
}
.feature__number {
  font-weight: 700;
  font-size: 120px;
  line-height: 130px;
  color: rgba(34, 34, 34, 0.04);
  position: absolute;
  right: 32px;
  top: 0;
}
.feature__h4 {
  margin-bottom: 28px;
}
.feature__p {
  margin-bottom: 33px;
}

.slider {
  height: 377px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  gap: 0px;
}
.slider__dots-container {
  width: 77px;
  height: 7px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0px;
  position: relative;
}
.slider__dot {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background-color: #c2c2c2;
}
.slider__dot--active {
  background-color: #BDAC8D;
}

.services-block__ul {
  max-height: 288px;
  line-height: 48px;
  color: #777777;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap: 0px;
}

.contact-block__item {
  margin-bottom: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 22px;
}
.contact-block__item:last-child {
  margin-bottom: 0px;
}
.contact-block__icon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.contact-block__icon--mail {
  background-image: url("/svg/mail.svg");
}
.contact-block__icon--map {
  background-image: url("/svg/map.svg");
}
.contact-block__icon--phone {
  background-image: url("/svg/phone.svg");
}
.contact-block__item-title {
  font-family: "Old Standard TT";
  font-size: 20px;
  line-height: 20px;
  display: block;
}
.contact-block__item-subtitle {
  font-size: 14px;
  line-height: 14px;
  color: #777777;
}

.legal-block {
  background-color: #f9f9f9;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.48px;
  margin: 0;
  padding: 16px 20px;
}
.legal-block__copyright {
  margin-bottom: 24px;
  display: block;
}
.legal-block__a {
  width: fit-content;
  display: inline-block;
}
.legal-block__line {
  display: inline-block;
  margin: 0 10px;
}

.home-banner {
  background-color: #333333;
  color: white;
  padding: 75px 20px;
}
.home-banner__subtitle {
  max-width: 237px;
  color: white;
  margin-bottom: 40px;
}
.home-banner__title {
  margin-bottom: 40px;
}
.home-banner__button {
  margin-bottom: 24px;
}
.home-banner__button--outline {
  margin-bottom: 0;
}

.check-date {
  background-color: #222222;
  color: white;
  padding: 36px 20px;
}
.check-date__form {
  padding-bottom: 12px;
}
.check-date__label {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
.check-date__input {
  width: 100%;
  border-bottom: 1px solid #BEAD8E;
  color: #777777;
  padding: 14px 24px;
  margin-bottom: 30px;
  position: relative;
}
.check-date__input:focus {
  color: white;
}
.check-date__input::before {
  width: 15px;
  height: 15px;
  background-image: url("/svg/calendar.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  left: 0;
}
.check-date__button {
  padding-right: 26px;
  padding-left: 26px;
}

.home-about__top {
  background-color: #f9f9f9;
  padding: 38px 20px;
}
.home-about__button {
  margin-bottom: 137px;
}
.home-about__wrapper {
  text-align: center;
}
.home-about__first-image {
  margin-top: -115px;
}
.home-about__bg-image {
  background-image: url("/svg/people-bg.svg");
}
.home-about__card--team {
  margin-bottom: 45px;
}
.home-about__card-icon--people {
  background-image: url("/svg/people.svg");
}
.home-about__card-icon--calendar {
  background-image: url("/svg/luxury-calendar.svg");
}

.home-rooms {
  text-align: center;
}
.home-rooms__h4 {
  font-size: 28px;
  margin-bottom: 12px;
}
.home-rooms__p {
  margin-bottom: 12px;
}
.home-rooms__wrapper {
  background-color: white;
  margin: -20px 20px 30px 20px;
  padding: 19px 24px;
}

.intro-video {
  padding: 48px 20px;
}
.intro-video__h2 {
  margin-top: 16px;
}

.show {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
